node_modules
.next
dist
.turbo
.vercel

# Env files
.env
.env.*
!.env.example
!env-template.txt
!env-template

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.idea
.vscode
